* {
    box-sizing: border-box;
}
::selection {
    color: var(--basecolor);
    background: var(--accentcolor);
}
html {
    font-size: 14px !important;
    scroll-behavior: auto;
}
@media (min-width: 31.25rem) {
    html {
        font-size: 16px !important;
    }
}
body {
    font-family:  Roboto,  sans-serif;
    font-size: inherit;
    line-height: 1.4;
    color: var(--textcolor);
    background-color: var(--basecolor);
    overflow-wrap: break-word;
}
ol,
ul,
dl,
pre,
address,
blockquote,
table,
div,
hr,
form,
fieldset,
noscript .table-wrapper {
    margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: 500;
    line-height: 1.25;
    color: var(--titlecolor);
}
p {
    margin-top: 1em;
    margin-bottom: 1em;
}
a {
    color: var(--accentcolor);
    text-decoration: none;
}
a:not([class]) {
    text-decoration: underline;
}
a:not([class]):hover {
    background-color: var(--boxcolor);
}
code {
    font-family: "SFMono-Regular", Menlo, Consolas, Monospace;
    font-size: 0.75em;
    line-height: 1.4;
}
figure,
pre {
    margin: 0;
}
li {
    margin: 0.25em 0;
}
img {
    max-width: 100%;
    height: auto;
}
hr {
    height: 1px;
    padding: 0;
    margin: 2rem 0;
    background-color: var(--bordercolor);
    border: 0;
}
.side-bar {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--boxcolor);;
}
@media (min-width: 50rem) {
    .side-bar {
        flex-wrap: nowrap;
        position: fixed;
        width: 248px;
        height: 100%;
        flex-direction: column;
        border-right: 1px solid var(--bordercolor);
        align-items: flex-end;
    }
}

@media (min-width: 50rem) {
    .main {
        max-width: 800px;
        margin-left: 248px;
    }
}

main-wrap {
    padding: 1rem;
}
@media (min-width: 50rem) {
    main-wrap {
        padding: 2rem;
    }
}

.main-header {
    z-index: 0;
    display: none;
    background-color: var(--boxcolor);;
}
@media (min-width: 50rem) {
    .main-header {
        display: flex;
        justify-content: space-between;
        height: 60px;
        background-color: var(--basecolor);;
        border-bottom: 1px solid var(--bordercolor);
    }
}
.main-header.nav-open {
    display: block;
}
@media (min-width: 50rem) {
    .main-header.nav-open {
        display: flex;
    }
}
.site-nav,
.site-header,
.site-footer {
    width: 100%;
}

.site-nav {
    display: none;
}
.site-nav.nav-open {
    display: block;
}
@media (min-width: 50rem) {
    .site-nav {
        display: block;
        padding-top: 3rem;
        padding-bottom: 1rem;
        overflow-y: auto;
        flex: 1 1 auto;
    }
}
.site-header {
    display: flex;
    min-height: 60px;
    align-items: center;
}
@media (min-width: 50rem) {
    .site-header {
        height: 60px;
        max-height: 60px;
        border-bottom: 1px solid var(--bordercolor);
    }
}
.site-title {
    padding-right: 1rem;
    padding-left: 1rem;
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: var(--titlecolor);
    font-size: 18px !important;
}
@media (min-width: 50rem) {
    .site-title {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
@media (min-width: 31.25rem) {
    .site-title {
        font-size: 24px !important;
        line-height: 1.25;
    }
}
@media (min-width: 50rem) {
    .site-title {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
.site-button {
    display: flex;
    height: 100%;
    padding: 1rem;
    align-items: center;
}
@media (min-width: 50rem) {
    .site-header .site-button {
        display: none;
    }
}
.site-title:hover {
    background-image: linear-gradient(-90deg, var(--feedbackcolor) 0%, var(--feedbackcolor) 70%, #0000 100%);
}


body {
    padding-bottom: 4rem;
    overflow-y: scroll;
}

.site-footer {
    padding-right: 1rem;
    padding-left: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #959396;
    font-size: 11px !important;
}
@media (min-width: 50rem) {
    .site-footer {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
@media (min-width: 31.25rem) {
    .site-footer {
        font-size: 12px !important;
    }
}
@media (min-width: 50rem) {
    .site-footer {
        position: static;
        justify-self: end;
    }
}
.icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--accentcolor);;
}
main {
    line-height: 1.45;
}
main ol,
main ul,
main dl,
main pre,
main address,
main blockquote,
main .table-wrapper {
    margin-top: 0.5em;
}
main a {
    overflow: hidden;
    text-overflow: ellipsis;
}











