/*Mobile and desktop font sizes*/
.site-nav {font-size: 16px !important;}
@media (min-width: 50rem) {.site-nav {font-size: 14px !important;}}

.site-nav summary {
    padding: 0.5em;
    line-height: 1;
    display: flex;
    justify-content: space-between;
}
.site-nav summary > .nav-list-link {
    padding: 0.5em;
    margin: -0.5em;
    width: calc(100% - 1rem);
    background-color: var(--boxcolor);
}
.site-nav summary::after {
    content: 'く';
}
.site-nav details[open] > summary:after {
    content: " ▼";
}

.nav-list {
    padding: 0 0 0 1em;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-list .nav-list-item {
    position: relative;
    margin: 0;
}
.nav-list .nav-list-item > .nav-list-link {
    display: block;
    padding: 0.5em;
}

/*Style active links and mouse-overs*/
.nav-list .nav-list-item .nav-list-link.active {
    font-weight: 600;
    text-decoration: none;
}
.site-nav summary:hover, .site-nav summary.active,
.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(-90deg, var(--feedbackcolor) 0%, var(--feedbackcolor) 70%, #0000 100%);
}
.nav-list-link:hover {
    text-decoration: underline;
}

/*Recursive lists are not the accent color, imitating the original JTD styling.*/
.nav-list-item .nav-list .nav-list-link {
    color: var(--textcolor);
}
