.site-nav details {
    font-size: 14px;
}

.site-nav summary {
    padding: 0.5rem;
    line-height: 1;
    display: flex;
    justify-content: space-between;
}
.site-nav summary > .nav-list-link {
    padding: 0.5rem;
    margin: -0.5rem;
    min-width: 80%;
}
.site-nav summary::after {
    content: ' ▼';
    color: var(--accentcolor);
}
.site-nav details[open] > summary:after {
    content: " ▲";
    color: var(--accentcolor);
}



.nav-list {
    padding: 0 0 0 1rem;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-list .nav-list-item {
    font-size: 14px !important;
    position: relative;
    margin: 0;
}
.nav-list .nav-list-item > .nav-list-link {
    display: block;
    padding: 0.5rem;
}
.nav-list .nav-list-item .nav-list-link.active {
    font-weight: 600;
    text-decoration: none;
}

.site-nav summary:hover, .site-nav summary.active,
.nav-list .nav-list-item:hover,
.nav-list .nav-list-item.active {
    background-image: linear-gradient(-90deg, var(--feedbackcolor) 0%, var(--feedbackcolor) 70%, #0000 100%);
}
.nav-list-link:hover {
    text-decoration: underline;
}
.nav-list .nav-list-item > .nav-list {
    display: none;
    padding-left: 0.75rem;
    list-style: none;
}
.nav-list .nav-list-item > .nav-list .nav-list-item {
    position: relative;
}
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    color: #5c5962;
}
.nav-list .nav-list-item.active > .nav-list {
    display: block;
}
